Don't delete old self-sigs from revoked objects

Currently, if a self-sig has been revoked, then hockeypuck strips all self-sigs other than the revocation sig on the same object:

```
func (s *SelfSigs) resolve() {
	// Revocations cancel all other certifications
	if len(s.Revocations) > 0 {
		s.Certifications = nil
		s.Expirations = nil
		s.Primaries = nil
	}
```

This erases  information that is vital for the verification of historical signatures. If a signature was made in the past by a (sub?)key in the name of a UID, one or both of which have since been revoked but not for reason of secret disclosure (i.e. for revocation reasons other than 2), then it should still be possible to validate those signatures. As per RFC4880 section 5.2.3.23:

```
   If a key has been revoked because of a compromise, all signatures
   created by that key are suspect.  However, if it was merely
   superseded or retired, old signatures are still valid.  If the
   revoked signature is the self-signature for certifying a User ID, a
   revocation denotes that that user name is no longer in use.  Such a
   revocation SHOULD include a 0x20 code.
```

If the keyservers don't serve revoked self-sigs, historical signatures that depended on those self-sigs cannot be validated unless the user performing the validation had already obtained a copy of the key prior to publication of the revocation self-sig.

We should serve all cryptographically sound self-sigs and leave housekeeping decisions to the client side.

This may be a duplicate of #150